@font-face {
  font-family: "National Park";
  src:url("fonts/NationalPark-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("fonts/NationalPark-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("fonts/NationalPark-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National Park";
  src: url("fonts/NationalPark-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root{
	--bg-magenta-70: #f1678e;
	--bg-magenta-20: #f9b2c6;
	--font-sans: "National Park", sans-serif;
	--font-serif: "Courier", monospace;
}
